<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Events Manager App</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()" style="display: inline-block;">
        Logged as: <p sec:authentication="name" style="display: inline"></p>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div sec:authorize="!isAuthenticated()" style="display: inline-block;">
        <a th:href="@{/login}">Login</a>
        <p style="display: inline;"> / </p>
        <a th:href="@{/register}">Register</a>
    </div>
    <div sec:authorize="hasRole('ORGANIZER')">
        <a th:href="@{/addEvent}">Add new event</a>
    </div>
    <h2>Single Event Site</h2>
    <div>
        <a th:href="@{/events}">Back to events list</a>
    </div>
    <br>
    <label>Title</label>
    <div th:text="${eventDetails.getTitle()}"></div>
    <label>Starting Date:</label>
    <div th:text="${eventDetails.getStartingDate()}"></div>
    <label>Ending Date:</label>
    <div th:text="${eventDetails.getEndingDate()}"></div>
    <label>Full Description</label>
    <div>
        <textarea th:text="${eventDetails.getDescription()}" rows="10" cols="30" disabled></textarea>
    </div>
    <div th:text="${'Users signed to this event: ' + signedUsers.size()}"></div>
    <div th:each="user : ${signedUsers}" style="display: inline-block;">
        <p th:text="${user.getDisplayName()}"></p>
    </div>
    <br>
    <div sec:authorize="isAuthenticated()">
        <div th:if="!${isUserAlreadySigned}">
            <form th:id="signToEventForm" th:action="@{/signToEvent}" th:object="${signOrUnsignFromEventRequest}" method="POST">
                <div>
                    <input type="number"  th:field="*{eventId}" th:value="*{getEventId()}" hidden>
                </div>
                <div>
                    <input type="submit" value="Sign In">
                </div>
            </form>
        </div>
        <div th:if="${isUserAlreadySigned}">
            <div>You are signed to this event</div>
            <form th:id="unsignFromEventForm" th:action="@{/unsignFromEvent}" th:object="${signOrUnsignFromEventRequest}" method="POST">
                <div>
                    <input type="number"  th:field="*{eventId}" th:value="*{getEventId()}" hidden>
                </div>
                <div>
                    <input type="submit" value="Unsign">
                </div>
            </form>
        </div>
    </div>
    <br>
    <div style="color: red" th:each="error : ${errors}" th:text="${error.getMsg()}">Error Msg</div>
    <div sec:authorize="isAuthenticated()">
        <form th:id="commentCreateForm" th:action="@{/addComment}" th:object="${commentCreateRequest}" method="POST">
            <div>
                <input type="number" th:field="*{eventId}" th:value="*{getEventId()}" hidden>
            </div>
            <label>Leave a comment (max 500 chars)</label>
            <div>
                <textarea th:form="commentCreateForm" th:field="*{content}" placeholder="enter your comment here" rows="10" cols="30"></textarea>
            </div>
            <div>
                <input type="submit" value="Comment">
            </div>
        </form>
        <br>
        <div th:if="${comments.getTotalElements()>0}">Comments:</div>
        <div th:each="comment : ${comments}">
            <label th:text="${comment.getCommentAuthor().getDisplayName()}">Author</label>
            <div th:text="${comment.getContent()}">Comment content</div>
        </div>
        <div th:if="${comments.totalPages > 1}"
             th:each="pageNumber : ${pageNumbers}" style="display: inline-block;">
            <a th:href="@{/events/{eventId}(eventId = ${commentCreateRequest.getEventId()}, page = ${pageNumber}-1)}" th:text="${pageNumber}"></a>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">Comments section is available only for logged users</div>
</body>
</html>